body {
	background-color: black;
}
.logo {
	height: 6%;
	width: 3%;
	position: absolute;
	top: 3px;
	left: 16px;
	padding-left: 3%;
	padding-top: 2%;
}
.Navigation {
	list-style-type: none;
	margin-left: 2%;
	overflow: hidden;
	margin-top: 10px;
	padding-right: 3%;
	position: absolute;
	top: 8px;
	right: 10px;
	text-align: center;
}

.Navigation2 {
	list-style-type: none;
	margin-left: 2%;
	overflow: hidden;
	margin-top: 10px;
	padding-right: 3%;
	position: absolute;
	top: 8px;
	right: 10px;
	text-align: center;
}

.Navigation li {
	float: left;
	list-style-type: none;
	top: 1%;
	left: 20%;
}

li a {
	display: block;
	color: #dde0dd;
	text-align: center;
	padding: 16px;
	text-decoration-style: bold;
	text-decoration: none;
}

li a:hover {
	background-color: red;
}

.container {
	text-align: center;
	color: white;
}

.Head {
	font-family: "Sansita Swashed", cursive;
	text-align: center;
	font-size: 40px;
	float: top;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav_img {
	height: 500px;
	width: 95%;
}

.mobile_nav_img {
	height: 300px;
	width: 95%;
}

.Title {
	color: white;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 30px;
	text-decoration: underline red;
}

.wrapper {
	text-align: left;
	padding-left: 5%;
}

.index-what {
	color: white;
	font-family: "Roboto Slab", serif;
	font-size: 40px;
	text-decoration: underline dotted red;
}

.index-aboutus {
	color: white;
	font-family: "Roboto Slab", serif;
	font-size: 20px;
}

.index-pic-1 {
	float: right;
	width: 20%;
	padding-bottom: 5%;
	position: relative;
	top: -230px;
	left: -20px;
	border-radius: 50%;
}

.wrapper2 {
	text-align: right;
	padding-right: 5%;
}

.index-why {
	color: white;
	font-family: "Roboto Slab", serif;
	font-size: 40px;
	text-decoration: underline dotted red;
}

.index-why-a {
	color: white;
	font-family: "Roboto Slab", serif;
	font-size: 20px;
}

.index-pic-2 {
	float: left;
	width: 20%;
	padding-bottom: 5%;
	position: relative;
	border-radius: 50%;
	top: -230px;
	right: -20px;
}
