.wrapper {
	padding-top: 150px;
	float: left;
	padding-left: 75px;
}
.wrapper2 {
	padding-top: 150px;
	float: left;
	padding-left: 75px;
}
.wrapper3 {
	padding-top: 125px;
	float: left;
	padding-left: 0px;
}
.staff {
	color: lightcoral;
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
}

.luce-img {
	height: 290px;
	border-radius: 50%;
	padding-left: 0px;
}

.Name {
	text-align: center;
	font-size: 40px;
	color: red;
	padding-right: 75px;
}

.Role {
	text-align: center;
	font-size: 30px;
	color: white;
	padding-right: 13%;
}

.About {
	text-align: center;
	padding-right: 13%;
}

@media only screen and (max-width: 600px) {
	.wrapper {
		position: relative;
		right: 40px;
	}
	.wrapper2 {
		position: relative;
		right: 40px;
	}
	.luce-img {
		height: 150px;
		border-radius: 50%;
	}

	.Name {
		text-align: center;
		font-size: 20px;
		color: red;
		position: relative;
		right: 20px;
	}

	.Role {
		text-align: center;
		font-size: 20px;
		color: white;
		position: relative;
		right: 20px;
	}

	.About {
		text-align: center;
		position: relative;
		right: 15px;
	}
}
