.hint {
	text-align: center;
	color: red;
	font-size: 25px;
}

.joining {
	text-align: center;
	font-size: 20px;
	color: lightcoral;
}
.discord {
	text-align: center;
	font-size: 20px;
	color: royalblue;
	padding-top: 5%;
}

.discord a {
	text-decoration: none;
	color: lightblue;
}

.dynmap {
	text-align: center;
	font-size: 20px;
	color: white;
	padding-top: 5%;
}

.dynmap a {
	text-decoration: none;
	color: lightblue;
}
@media only screen and (max-width: 600px) {
	.hint {
		padding-top: 40%;
	}
}
